body {
   font-family: Verdana;
   color: #000000;
   background-color: #ffffff;
   text-align: center;
   vertical-align: middle;
   margin: 0px;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

#content {
   margin-top: 60px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}

.ytframe {
   width: 720px; 
   height: 396px;
}

.ytfigure {
   margin-left: auto;
   margin-right: auto;
   width: 100%; 
   margin-bottom: 50px;
}

.ytcaption  {
   font-size: small;
}
